@using DddWorkshop.Areas.OrderManagement.Domain
@model IEnumerable<DddWorkshop.Areas.OrderManagement.Domain.Order>
@if(Model.Any())
{
    var fsm = new Dictionary<OrderStatus, IEnumerable<OrderStatus>>
    {
        {OrderStatus.New, new [] {OrderStatus.Paid}},
        {OrderStatus.Paid, new [] {OrderStatus.Shipped}},
        {OrderStatus.Shipped, new [] {OrderStatus.Complete, OrderStatus.Dispute}},
        {OrderStatus.Dispute, new [] {OrderStatus.Complete}}
    };

    var actionMap = new Dictionary<OrderStatus, string>
    {
        {OrderStatus.Paid, "Pay"},
        {OrderStatus.Shipped, "Ship"},
        {OrderStatus.Complete, "Complete"},
        {OrderStatus.Dispute, "Dispute"}
    };
    
    <ul>
        @foreach (var order in Model)
        {
            <li>
                <div class="form-group">
                    @order.Id / @order.Status / @order.Created / @order.Updated: $@order.Total
                    @if (fsm.Keys.Contains(order.Status))
                    {
                        foreach (var state in fsm[order.Status])
                        {
                            var actionName = actionMap[state];
                            <div class="form-group">
                                @using (Html.BeginForm(actionName, "Order", FormMethod.Post))
                                {
                                <input type="hidden" name="Id" value="@order.Id"/>
                                <input type="submit" class="btn btn-primary" value="@actionName"/>
                                }
                            </div>
                        }
                    }
                </div>
            </li>
        }
    </ul>
}
else
{
    <p>You have no orders so far</p>
}